#u115-4
{
	background-color: transparent;
	line-height: 82px;
	color: #FFFFFF;
	font-size: 68px;
	text-align: center;
	font-family: calligraffitti, sans-serif;
	font-weight: 400;
	position: relative;
}

#u115-4:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
}

#menuu132
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u136
{
	background-color: #000000;
	position: relative;
}

#u136:hover
{
	background-color: #DDDDDD;
}

#u136:active
{
	background-color: #5A5A5A;
}

#u137-6
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	position: relative;
}

#u253
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #DDDDDD;
	position: relative;
}

#u253:hover
{
	background-color: #FFFFFF;
}

#u255-5
{
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	position: relative;
}

#u255-2
{
	font-family: calligraffitti, sans-serif;
	font-weight: 400;
}

#u165
{
	background-color: #000000;
	position: relative;
}

#u136.MuseMenuActive,#u253.MuseMenuActive,#u165:hover
{
	background-color: #DDDDDD;
}

#u165:active
{
	background-color: #5A5A5A;
}

#u166-6
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	position: relative;
}

#u172
{
	background-color: #000000;
	position: relative;
}

#u165.MuseMenuActive,#u172:hover
{
	background-color: #DDDDDD;
}

#u172:active
{
	background-color: #5A5A5A;
}

#u173-6
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	position: relative;
}

#u134,#u170
{
	background-color: transparent;
}

#u1031
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #DDDDDD;
	position: relative;
}

#u1031:hover
{
	background-color: #FFFFFF;
}

#u1033-4
{
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	position: relative;
}

#u108,#u133,#u135,#u252,#u162,#u169,#u171,#u1030,#u1037
{
	background-color: transparent;
	position: relative;
}

#u1040
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #DDDDDD;
	position: relative;
}

#u1040:hover
{
	background-color: #FFFFFF;
}

#u172.MuseMenuActive,#u1031.MuseMenuActive,#u1040.MuseMenuActive
{
	background-color: #DDDDDD;
}

#u1041-4
{
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u218-5
{
	background-color: transparent;
	color: #FF00FF;
	font-size: 18px;
	line-height: 22px;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	position: relative;
}

#u218-5.MuseLinkActive p
{
	font-size: 18px;
}

#u208-5
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	position: relative;
}

#u208
{
	font-size: 18px;
	color: #FF00FF;
	line-height: 22px;
}

#u215-5
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: calligraffitti, sans-serif;
	font-weight: 400;
	position: relative;
}

#u208-3,#u215-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u215
{
	font-size: 18px;
	color: #FF00FF;
	font-family: amatic-sc, sans-serif;
	font-weight: 700;
	line-height: 22px;
}

